/* CSS Reset */

*{
    margin: 0px;
    padding: 0px;
}

/* Navigation Bar */

#navbar{
    background-color: rgb(58, 58, 61);
    display: flex;
}

.navbar-nav{
    padding-top: 26px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

#navbar ul li a{
    color: aliceblue;
    padding: 12px;
    text-decoration: none;
}

#navbar img{
    border: 2px solid white;
    border-radius: 21px;
    height: 70px;
}

/* Utility Classes */

.h-primary{
    font-size: 48px;
}

.h-secondary{
    font-size: 35px;
}

.p-primary{
    font-size: 25px;
}

.p-secondary{
    font-size: 18px;
}

.text-black{
    color: black;
}

.text-white{
    color: white;
}

.special-link{
    text-decoration: none;
}

.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin: 23px 580px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 21px;
    background-color: rgb(70, 66, 66);
    transition-property: all;
    transition-duration: 0.1s;
}

.button:hover{
    background-color: grey;
}